*{
    margin: 0;
    padding: 0;
}

.form1{
    height:auto;
    width:100vw;
    background-color: pink;

}
.container1{
    height:842px;
    width:595px;
    border:2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.head{
    font: 1em sans-serif;
    font-weight: bold;
}