*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    min-height:100vh;
    width:100vw;
}

.signup-page-container{
    border:1px solid black;
    height: 500px;
    width:350px;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.signup-page-container hr{
    width: 100%;

}

.signup-page-container .signup-input{
    width: 90%;
}

.signup-page-container div span{
    color: blue;
    cursor: pointer;
}